site_name: BioStatRx
site_url: https://rahulbalwan.github.io/BioStatRx/
site_author: Rahul

theme:
  name: material
  features:
    - navigation.sections
    # If you want everything collapsed by default, REMOVE the next line:
    - navigation.expand
    - navigation.indexes
    - navigation.prune

    - navigation.top
    - toc.follow
    - search.highlight
    - search.suggest

plugins:
  - search
  - awesome-pages


nav:
  - Home: index.md
  - Foundations:
      - Probability & Statistics Review: Probability_Statistics/index.md
      - Regression: Regression/index.md
      - Survival Analysis: Survival_Analysis/index.md
  - Advanced Topics:
      - Bayesian Statistics: Bayesian_Statistics/index.md
      - Clinical Trials: Clinical_Trials/index.md
      - Infectious Disease Modelling: Infectious_Disease_Modelling/index.md
      - Machine Learning: Machine_Learning/index.md
      - Meta Analysis: Meta_Analysis/index.md
      - Reproducible Research: Reproducible_Research/index.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
